.container {
  max-width: 850px;
  margin: 0 auto;
  /* overflow: hidden; */
  padding: 0 15px;
}
.home {
  padding: 0 10px;
  padding-bottom: 100px;
}
.hero {
  max-width: 600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hero h1 {
  font-size: max(4vw, 36px);
}
.hero p {
  width: 75%;
  color: #e3e3e3;
  line-height: 1.5;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 1.25rem;
  margin-top: 6rem;
}
.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 0.65rem;
}
.banner div:first-child {
  width: 60%;
}
.banner div:last-child {
  width: 40%;
}
.banner div:last-child img {
  max-width: 100%;
}
.cta-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.25rem;
}
.banner button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
  background: white;
  border: none;
  cursor: pointer;
}
.banner button img {
  width: 13px;
}
.hero form {
  margin-top: 1.5rem;
  padding: 8px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hero input {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.hero button.search {
  border: none;
  background: #7927ff;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.crypto-table {
  max-width: 800px;
  margin: auto;
  background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.table-layout {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
}
.market-cap {
  text-align: right;
}
.table-layout:last-child {
  border: none;
}
.table-layout div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-layout div img {
  width: 35px;
}
.table-layout .green {
  color: #00d515;
  text-align: center;
}
.table-layout .red {
  color: #ff4646;
  text-align: center;
}
.padination_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}
.padination_wrapper button {
  border: none;
  outline: none;
  padding: 0.65rem 1rem;
  border-radius: 0.4rem;
  background: #fff;
  color: #7927ff;
  cursor: pointer;
}
.padination_wrapper button:disabled {
  background: gray;
  color: #fff;
  cursor: not-allowed;
}
@media (max-width: 991px) {
  .container {
    max-width: 98%;
  }
  .banner div:last-child {
    display: none;
  }
  .banner div:first-child {
    width: 100%;
  }
  .banner div {
    text-align: center;
  }
  .cta-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .table-layout {
    grid-template-columns: 0.5fr 3fr 1fr 1fr;
  }
  .market-cap {
    display: none;
  }
}
@media (max-width: 500px) {
  .banner h1 {
    font-size: 1.75rem;
  }
  .banner p {
    font-size: 0.75rem;
  }
  .cta-wrapper {
    gap: 0.5rem;
  }
  .table-layout div img {
    width: 25px;
  }
  .table-layout {
    font-size: 13px;
  }
  .hero form input {
    width: 100px;
  }
}
@media (max-width: 360px) {
  .table-layout {
    font-size: 11px;
  }
}
